* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  padding: 1.2rem;
}


.main-container {
  display: flex;
  margin: auto;
  padding: 3.1rem;
  width: 100%;
  background-color: hsl(0, 30%, 96%);
  box-shadow: hsla(30, 3%, 12%, 0.401) 0px 0px 10px;
  max-width: 1100px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


.card {
  border-radius: 8px;
  /* Bordas arredondadas */
  padding: 1rem;
  /* Espaço interno para o conteúdo não colar na borda */

  /* Flexbox para alinhar itens verticalmente */
  display: flex;
  flex-direction: column;
  /* Empilha: Título em cima, Imagem no meio, Texto embaixo */
  gap: 1.0rem;
  /* Cria um espaço automático entre cada elemento */

  overflow: hidden;
  /* Garante que imagens grandes não vazem as bordas arredondadas */
}


.grid-item-01 {
  grid-area: grid-item-01;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(256, 84%, 68%);
  border-radius: 8px;
  box-shadow: hsla(30, 3%, 12%, 0.401) 0px 0px 10px;
  padding: 1rem;
}

h1 {
  font-size: 3.3rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  text-align: center;
  /* Ajuste conforme necessário */
  padding-bottom: 5px;
  line-height: 1.1;
  max-width: 15ch;
  /* Garante a quebra ideal mesmo em telas largas, sem ser tão restrito quanto 250px */
}

span {
  color: rgb(248, 165, 56);
}


/* Exemplo: Deixar as estrelas com um tamanho fixo menor */
.img-01 {
  display: block;
  /* Garante que a imagem se comporte como bloco */
  margin-left: auto;
  /* Centraliza a imagem (já que o texto está center) */
  margin-right: auto;
  /* Centraliza a imagem */
  margin-bottom: 0px;
  /* Valor bem pequeno para ficar próximo */
  width: 150px;
}

.p-01 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-top: -19px !important;
  /* REMOVE a margem padrão de cima do parágrafo */
  margin-bottom: 10px;
  line-height: 2.1;
}


.grid-item-02 {
  grid-area: grid-item-02;
  background-color: hsl(0, 0%, 100%);
  box-shadow: hsla(30, 3%, 12%, 0.401) 0px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding: 1rem;
}

.p-02 {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

strong {
  /* Centraliza o texto */
  font-size: 2.9rem;
  font-weight: 500
}

.img-02 {
  width: 80%;
  /* Ajuste conforme necessário */
  margin-top: 50px;
}

.grid-item-03 {
  grid-area: grid-item-03;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Mudado de center para flex-start */
  padding: 1rem;
  /* Adiciona um respiro interno para os itens */
  /* ... resto do seu código ... */
  min-height: 300px;
  /* Certifique-se de que o card tem uma altura definida */
  background-color: hsl(44, 87%, 63%);
  box-shadow: hsla(30, 3%, 12%, 0.401) 0px 0px 10px;
  /* Ajuste conforme necessário */
  padding: 1rem;

}

.h3-03 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.0;
  max-width: 250Px;
}

.img-03 {
  width: 98%;
  /* Ajuste conforme necessário */
  margin-top: auto;
  align-self: center;
  display: block;
  width: calc(100% + 40px);
  /* Compensa o padding de 20px de cada lado */
  margin-bottom: -20px;
  /* Alinha ao fundo ignorando o padding */
  margin-top: auto;
}

.grid-item-04 {
  grid-area: grid-item-04;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* Certifique-se de que o card tem uma altura definida */
  background-color: hsl(274, 86%, 80%);
  box-shadow: hsla(30, 3%, 12%, 0.401) 0px 0px 10px;
  line-height: 0.95;
  /* Ajuste conforme necessário */
  overflow: hidden;
  min-height: 450px;

}

.h2-04 {
  margin-top: 5px;
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 1.0;
  max-width: 250px;
}

.img-04 {
  position: relative;
  /* Ajuste de Tamanho */
  width: 150%;
  min-height: 300px;
}

.p-04 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  max-width: 32ch;
}



.grid-item-05 {
  grid-area: grid-item-05;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: hsl(256, 84%, 68%);
  box-shadow: hsla(30, 3%, 12%, 0.401) 0px 0px 10px;
}

.h2-05 {
  color: #ffffff;
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 1.1;
  /* Melhora o respiro entre as linhas quebradas */
  max-width: 250px;
  /* Ajuste esse valor até que a quebra ocorra no 'with' e no 'content' */

}

.img-05 {
  width: 50%;
  /* Ajuste conforme necessário */
  height: 85%;
}

.grid-item-06 {
  grid-area: grid-item-06;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(20, 60%, 99%);
  box-shadow: hsla(30, 3%, 12%, 0.401) 0px 0px 10px;
  line-height: 0.95;
  /* Ajuste conforme necessário */
  padding: 0.2rem;
}

.h2-06 {
  font-size: 2.0rem;
  font-weight: 500;
  align-self: flex-start;
  /* Alinha o título à esquerda */
  text-align: left;
  /* Garante que o texto dentro dele também aponte para a esquerda */
  padding-left: 18px;
  /* Opcional: para o texto não colar na borda do card */
  line-height: 1.1;
  max-width: 250px;
}

.img-06 {

  width: 90%;
  /* Ajuste conforme necessário */
}

.grid-item-07 {
  grid-area: grid-item-07;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4ead9;
  box-shadow: hsla(30, 3%, 12%, 0.401) 0px 0px 10px;
  padding: 0.1rem;
  /* Ajuste conforme necessário */
}

.span {
  color: rgb(183, 6, 247);
  font-weight: 500;
  font-size: 2.0rem;
  line-height: 1;
  /* Ajuste conforme necessário */

}

.h2-07 {
  font-size: 2.0rem;
  font-weight: 500;
  align-self: flex-start;
  /* Alinha o título à esquerda */
  text-align: left;
  /* Garante que o texto dentro dele também aponte para a esquerda */
  padding-left: 35px;
  /* Opcional: para o texto não colar na borda do card */
  line-height: 1.1;
  max-width: 250px;
}

.img-07 {
  align-self: flex-start;
  width: 70%;
  position: relative;
  /* Ajuste conforme necessário */
  margin-left: 30px;
  margin-top: 20px;
}

.grid-item-08 {
  grid-area: grid-item-08;
  background-color: hsl(44, 87%, 63%);
  box-shadow: hsla(30, 3%, 12%, 0.401) 0px 0px 10px;
  line-height: 0.95;
  /* Ajuste conforme necessário */
  padding: 1.0rem;
}

.h2-08 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
  /* Melhora o respiro entre as linhas quebradas */
  max-width: 150px;
}


.img-08 {
  margin-top: 65px;
  /* Ajuste conforme necessário */
  width: 100%;
  height: 150%;

}

.grid-container {
  display: grid;
  /* Cria 4 colunas de tamanhos iguais */
  grid-template-columns: repeat(4, 1fr);
  /* Define a altura das linhas (ajuste conforme necessário) */
  grid-template-rows: repeat(6, 1fr);
  /* Espaçamento entre os cards */
  gap: 1rem;

  grid-template-areas:
    "grid-item-07 grid-item-01 grid-item-01 grid-item-04"
    "grid-item-07 grid-item-01 grid-item-01 grid-item-04"
    "grid-item-07 grid-item-06 grid-item-03 grid-item-04"
    "grid-item-08 grid-item-06 grid-item-03 grid-item-04"
    "grid-item-08 grid-item-02 grid-item-05 grid-item-05"
    "grid-item-08 grid-item-02 grid-item-05 grid-item-05"
  ;

}

/* Responsividade para Mobile (inclui 375px) */
@media (max-width: 768px) {
  .main-container {
    padding: 1.5rem;
    /* Reduz o espaçamento interno para ganhar espaço */
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    /* Empilha os itens verticalmente */
    gap: 1.5rem;
  }

  h1 {
    margin-top: 20px;
    font-size: 3.2rem;
    /* Reduz o tamanho do título principal */
    text-wrap: balance;
    font-weight: 500;
  }

  .h3-03 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .h2-04 {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .grid-item-02 {
    display: block;
  }

  .p-02 {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
  }


  .p-04 {
    font-size: 1.1rem;
    /*text-align: left;*/
    text-align: center;
    max-width: 270Px;
  }

  .grid-item-05 {
    display: flex;
    flex-direction: column;

  }

  .h2-05 {
    margin-top: 10px;
    font-size: 1.0;
    max-width: 240Px;
    text-align: center;
  }

  .img-05 {
    width: 65%;
    margin-top: 10px;
    ;
  }

  .grid-item-06 {
    display: flex;
    flex-direction: column
  }

  .h2-06 {
    font-size: 17px;
    max-width: 250Px;
    font-weight: 600;
    padding: 1rem;
  }

  .img-06 {
    width: 60%;
    margin-top: 10px;
  }

  .grid-item-07 {
    display: flex;
    align-items: center;
    /* Alinha verticalmente ao centro */
    justify-content: center;
    padding: 1.5rem;
    gap: 10px;
    /* Espaço entre a imagem e o texto */
  }

  .h2-07 {
    font-size: 1.5rem;
    /* Ajuste leve na fonte */
    max-width: 310px;
    /* Permite que o texto use o espaço disponível */
    padding: 5px;
    /* Remove o padding que estava empurrando o texto */
    text-align: left;
    align-items: center;

    /* Garante o alinhamento com a imagem */
    line-height: 0.3;
  }

  .img-07 {
    margin-left: 0;
    margin-top: 20px;
    width: 40%;

  }

  /* Se o 'i' estiver dentro do h2, ele já herdará o tamanho */
  i {
    font-size: 1.5rem;
  }

  .h2-08 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    min-width: 250px;
  }

  .img-08 {
    margin-top: 10px;
    width: 70%;
    height: 70%;
  }
}


/* text-align: left;*/